@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

.loader_bg{
    position: fixed;
    z-index: 999999;
    background: #ffffff;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 200px;
    left: 650px;
    /* display: inline-block;
    text-align: center; */
}
.loader :before, .loader:after{
    content: '';
    border: 1em solid #ff5733;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: .5s;

}
@keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }

}

.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.header{
    background: url(back3.jpg);
    /* height: 100vh; */
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}



.navbar{
    text-align: center;
    padding: 20px;
    /* border: 40px; */
}
.navbar a{
    text-decoration: none;
    color: rgb(243, 137, 137);
    /* font-style: 'Chelsea Market', cursive; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px ;
    margin-right: 60px;
    margin-left: 60px ;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: 0.5s;
    padding: 10px;
}
.navbar a:hover 
{
    /* background-color: yellow; */
    background: rgba(215, 138, 138, 0.62);
    border: 2px solid #e61336;
}
.links{
    position: absolute ;
    top: 60px;
    right: 6%;
}
.links a {
    height: 50px;
    width: auto;
}
.headcontent{
    text-align: center;
    
    /* display: inline; */
    /* margin: auto; */
}
.headcontent img
{
    border: 2px solid #fff;
    border-radius: 50%;
    /* height: 200px */
    /* width: 200px; */
    margin-top: 70px;


}
.headcontent img:hover
{
    border: 2px solid #000 ;

}
.name{
    cursor: pointer;
    font-size: 50px;
    font-family: cursive;
    color: #32fb2a;
}
.descrip{
    cursor: default;
    font-size: 30px;
    color: #eea0eefa;
    font-family: cursive;
    padding-bottom: 80px;
}

/* ABOUT PAGE STARTS HERE */


/* .aboutpage{
    background-color: rgb(0, 10,150);
} */
.aboutpage{
    text-align: center;
    background-color: aquamarine;
    width: 100%;
    
}

.aboutpage h2{
    /* text-align: center; */
    font-family: 'Chelsea Market', cursive;
    font-size: 70px;
    text-decoration: underline;
    color: rgb(32, 27, 108);
}
.aboutpage h3{
    /* text-align: center; */
    font-family: cursive;
    font-size: 30px;
    /* display: inline; */
    
}

.aboutpage p{
    /* text-align: center; */
    font-family: sc;
    font-size: 15px;
    display: block;
    margin: auto;
    border-color: #000;
    text-shadow: #000;
    width: 60%;
    /* display: inline; */
}


.cs{
    text-align: center;
    border: 2px solid #16b810;
    width: 380px;
    margin: auto;
    padding-bottom: 12px;
    background-color: #fff;
    border-radius: 10%;
    /* opacity: 0;
    transform: translateY(10px);
    transition: 0.5s all ease-in-out; */
}
/* .cs-appear{
    opacity: 1;
    transform: translateY(0px);
} */
.music{
    text-align: center;
    border: 2px solid #16b810;
    width: 400px;
    margin: auto;
    padding-bottom: 12px;
    background-color: #fff;
    border-radius: 10%;
}
.lrn{
    text-align: center;
    border: 2px solid #16b810;
    width: 360px;
    margin: auto;
    padding-bottom: 12px;
    background-color: #fff;
    border-radius: 10%;
}
.cs h3{
    color: rgb(200, 30, 30);
}
.music h3{
    color: rgb(38, 124, 175);
}
.lrn h3{
    color: rgb(26, 154, 18);
}
/* SKILL PAGE STARTS HERE */

.skillpage{
width: 100%;
/* height: 700px; */
/* background: #9ea0a3; */
text-align: center;
background-color: antiquewhite;
}
.skillpage h2{
    /* text-align: center; */
    font-family: 'Chelsea Market', cursive;
    font-size: 70px;
    text-decoration: underline;
    color: rgb(132, 31, 158);
}
.skillpage img{
/* text-align: center; */
/* display: block; */
height: 200px;
width: 200px;
/* display: inline-block; */
background-color: #fff;
margin: 40px;
border: 3px solid #16b810;
border-radius: 10px;
cursor: pointer;
transition: .3s;
/* padding-left: 160px; */
}
/* .skillpage img :hover
{
border: 3px solid #f708f7;
border-radius: 10px;
transition: ease-in;
} */

/* PROJECT PAGE STARTS HERE */

.projectpage{
    width: 100%;
    /* height: 730px; */
    background: #dee0e1;
    text-align: center;
    }
.projectpage h2{
        /* text-align: center; */
        font-family: 'Chelsea Market', cursive;
        font-size: 70px;
        text-decoration: underline;
        color: rgb(206, 6, 6);
    }
.projectpage img{
    width: 40%;
    
}
.projectpage a
{
    font-size: 40px;
    display: block;
    margin: 30px;
    border: 4px solid rgb(32, 27, 108);
    border-radius: 10px;
    text-decoration: none;
}
.projectpage a{
    text-decoration: none;
    color: rgb(250, 0, 0);
    /* font-style: 'Chelsea Market', cursive; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px ;
    /* margin-right: 120px; */
    border: 2px solid transparent;
    border-radius: 10px;
}
.projectpage a:hover 
{
    /* background-color: yellow; */
    text-decoration: underline;
    background: rgb(31, 30, 30);
    border: 2px solid #ffffff;
}
#p1{
    color: rgb(11, 156, 16);
}
#p2{
    color: rgb(112, 51, 165);
}
#p3{
    color: rgb(207, 47, 47);
}

.sociallinks{
    text-align: center;
    width: 100%;
    
    background: gray;
    
    
}

.sociallinks a{
    margin: 40px;
    padding-top: 20px;
}

.toggle {
    width: 30px;
    padding: 10px;
    float: right;
    background:#ffffffa1;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
    display: none;
}

.toggle span
{
    width: 100%;
    height: 4px;
    background-color: rgb(75, 69, 69);
    display: block;
    margin-bottom: 3px;

}

@media (max-width: 768px)
{
    .loader{
        position: absolute;
        top: 180px;
        left:150px
    }
    .toggle{
        display: block;
        position: fixed;
    }
    .navbar{
        display: none;
    }
    .navbar a{
        display: block;
        text-align: center;
        padding: 10px;
    }
    .links{
        display: none;
    }
    .links a{
        
        height: 20px;
        width: 20px;
        
    }
    .aboutpage p{
        width: 98%;
        padding: 0%;
    }
    .container h2{
        font-size: 50px;
    }
    .skillpage img{
        margin: 20px;
        height: 120px;
        width: 120px;
    }
    .sociallinks a{
        height: 20px;
        width: 20px;
        margin: 10px;
    }
    .cs{
        width: 300px;
    }
    .music{
        width: 300px;
    }
    .lrn{
        width: 300px;
    }
}

@media (max-width: 350px)
{
    .loader{
        position: relative;
        top: 150px;
        left: 50px;
    }
    
    .headcontent img{
        width: 80%;
        height: 100%;
    }
    .links{
        position: absolute;
        top: 11px;
        /* height: 50%;
        width: 50%; */
    }
    .name{
        font-size: 40px;
    }
    .cs{
        width: 90%;
    }
    .music{
        width: 90%;
    }
    .lrn{
        width: 90%;
    }
    .skillpage img{
        height: 90px;
        width: 90px;
        margin: 10px;
    }
    .container h2{
        font-size: 50px;
    }
    .sociallinks a{
        height: 20px;
        width: 20px;
        margin: 10px;
    }
}

